@font-face {
    font-family: 'Subrage';
    src: url('../fonts/SubrageDemo-q2oqx.ttf');
}

#abouttitle {
    font-family: 'Subrage';
    font-size: 28px;
}

.faq {
    font-family: 'Segoe UI', sans-serif;
    font-size: 24px;
    font-weight: 300;
}

.faqsln {
    font-family: 'Segoe UI', sans-serif;
    font-weight: bold;
}