{% extends 'base.html' %}
{% block content %}

<div class="card text-center">
    <div class="card-header">Claimed by {{ claim.username }} for {{ claim.claimed_for }}</div>
    <div class="card-body">
      <h5 class="card-title">{{ claim.claim_name }}</h5>
      <p class="card-text" style="font-weight: bold;">{{ claim.claim_gen_loc }}</p>
      <p class="card-text">{{ claim.claim_desc }}</p>
    </div>
    <div class="card-footer text-body-secondary">Posted at {{ claim.created_at }}</div>
  </div>

  <br/><br/>
<a href="{% url 'claims' %}" class="btn btn-secondary">Back</a>

{% endblock %}