{% extends 'base.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="/static/css/home.css?{% now 'U' %}">

{% if user.is_authenticated %}

  <div class="jumbotron p-5 text-center bg-image rounded-3" style="
      background-image: url('http://127.0.0.1:8000/static/2.jpg');
      background-size: cover;
      height: 400px;
      width: 100%;
      background-repeat: round;
    ">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
      <br>
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <br>
          <h1 class="mb-3">Welcome!</h1>
          <h4 class="mb-3">Hello, {{ user.username }}! </h4>
          <hr>
        </div>
      </div>
    </div>
  </div>

  <br><br>

  </form>

  <div id="about">

    <h3 id="abouttitle" class="coolfont">Have you ever...</h3><hr><br>

    <div style="text-align: center;">
    
      <h5 class="faq">"Discovered a new ocean route to India"?</h5><br>
      <h5 class="faq">Sailed for months on end only to realize someone else reached new lands before you?</h5><br>
      <h5 class="faq">Experienced dangerous conditions that you had no idea about?</h5><br><br>

      <h4 class="faqsln">Magellan's Map might just be the solution for you!</h4>

    </div>
    
  </div>

{% else %}

  <div class="col-md-6 offset-md-3">
    <h1>Login</h1>
    <br>

    <form method="POST" action="{% url 'home' %}">
      {% csrf_token %}

      <div class="mb-3">
        <input type="text" class="form-control" name="username", placeholder="Username" required>
      </div><br>

      <div class="mb-3">
        <input type="password" class="form-control" name="password", placeholder="Password" required>
      </div><br>

      <button type="submit" class="btn btn-secondary">Login</button>
    </form>
  </div> 

{% endif %}

{% endblock %}